@model AES.Entities.Shared.Net45.Models.Application

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <center><h1><strong>Employment Application</strong></h1></center>

    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-12 well" style="border: 1px solid blue">
            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    Personal Information:
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Name, "Name:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.SSN, "Social Security Number:", htmlAttributes: new { @class = "text-left col-lg-5" })
                <div class="col-lg-7">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Middle, Last" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @* For Validating SSAN pattern insert javascript regular expression - see the following website:
                        http://www.codeproject.com/Articles/651609/Validating-Social-Security-Numbers-through-Regular
                        must use \\ for escape characters
                    *@
                    @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control", placeholder = " ### - ## - #### ",
                     pattern = "^(?!219-09-9999|078-05-1120)(?!666|000|\\d{2})\\d{3}-(?!00)\\d{2}-(?!0{4})\\d{4}$"} })
                    @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, "Address:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "text-left col-lg-5" })

                <div class="col-lg-7">
                    @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", placeholder = "Street, City, State, Zip" } })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control", type = "tel", id = "tel", placeholder = " ### - ### - #### " } })
                    @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.OtherName, "Other Names:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-left col-lg-5" })

                <div class="col-lg-7">
                    @Html.EditorFor(model => model.OtherName, new { htmlAttributes = new { @class = "form-control", placeholder = "If you have ever gone by another name, supply it here" } })
                    @Html.ValidationMessageFor(model => model.OtherName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-5">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required", type = "email", id = "email", placeholder = "Enter email address" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 well" style="border: 1px solid blue">
            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    Position Information:
                </div>
            </div>
            <div class="form-group">

                <div class="row">
                    <div class="col-lg-2 col-lg-offset-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.MondayAvailable) Monday
                            </label>
                            @Html.ValidationMessageFor(model => model.MondayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-4">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.FullTime) Full Time
                            </label>
                            @Html.ValidationMessageFor(model => model.FullTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.TuesdayAvailable) Tuesday
                            </label>
                            @Html.ValidationMessageFor(model => model.TuesdayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    @Html.LabelFor(model => model.SalaryExpectation, "Expected Salary (Hourly / Annual):", htmlAttributes: new { @class = "text-left col-lg-3" })
                    <div class="col-lg-2 col-lg-offset-1">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.PartTime) Part Time
                            </label>
                            @Html.ValidationMessageFor(model => model.PartTime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.WednesdayAvailable) Wednesday
                            </label>
                            @Html.ValidationMessageFor(model => model.WednesdayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        @Html.EditorFor(model => model.SalaryExpectation, new { htmlAttributes = new { @class = "form-control", placeholder = "Expected Salary" } })
                        @Html.ValidationMessageFor(model => model.SalaryExpectation, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2 col-lg-offset-1">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Days) Days
                            </label>
                            @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.ThursdayAvailable) Thursday
                            </label>
                            @Html.ValidationMessageFor(model => model.ThursdayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-4">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Evenings) Evenings
                            </label>
                            @Html.ValidationMessageFor(model => model.Evenings, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.FridayAvailable) Friday
                            </label>
                            @Html.ValidationMessageFor(model => model.FridayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-lg-offset-4">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.Weekends) Weekends
                            </label>
                            @Html.ValidationMessageFor(model => model.Weekends, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.SaturdayAvailable) Saturday
                            </label>
                            @Html.ValidationMessageFor(model => model.SaturdayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-lg-offset-6">
                        <div class="checkbox">
                            <label>
                                @Html.CheckBoxFor(model => model.SundayAvailable) Sunday
                            </label>
                            @Html.ValidationMessageFor(model => model.SundayAvailable, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 well" style="border: 1px solid blue">
            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    Job History:
                </div>
            </div>
            <div class="form-group">
                <fieldset class="well the-fieldset">
                    <legend class="the-legend">Most Recent</legend>
                    @Html.LabelFor(model => model.MostRecentEmployerName, "Employer Name:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.MostRecentEmployerFromDate, "From:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.MostRecentEmployerToDate, "To:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MostRecentEmployerName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter employer's name" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerName, "", new { @class = "help-inline" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerFromDate, new { htmlAttributes = new { @class = "form-control", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerFromDate, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerToDate, new { htmlAttributes = new { @class = "form-control", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerToDate, "", new { @class = "help-inline" })
                    </div>
                    @Html.LabelFor(model => model.MostRecentEmployerAddress, "Address:", htmlAttributes: new { @class = "control-label col-lg-8" })
                    @Html.LabelFor(model => model.MostRecentEmployerPhone, "Phone:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    @Html.LabelFor(model => model.MostRecentEmployerSupervisor, "Supervisor:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MostRecentEmployerAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Street, City, State, Zip" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerPhone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerPhone, "", new { @class = "text-danger tel" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerSupervisor, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerSupervisor, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MostRecentEmployerPosition, "Position:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.MostRecentEmployerStartSalary, "Starting Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.MostRecentEmployerEndSalary, "Ending Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })

                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MostRecentEmployerPosition, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Position" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerPosition, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerStartSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Salary" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerStartSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MostRecentEmployerEndSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "End Salary" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerEndSalary, "", new { @class = "text-danger" })
                    </div>

                    @Html.LabelFor(model => model.MostRecentEmployerReasonForLeaving, "Reason for leaving:", htmlAttributes: new { @class = "text-left col-lg-12" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.MostRecentEmployerReasonForLeaving, new { htmlAttributes = new { @class = "form-control", placeholder = "Reason for leaving" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerReasonForLeaving, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MostRecentEmployerResponsibilities, "Describe your responsibilities:", htmlAttributes: new { @class = "text-left col-lg-12" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.MostRecentEmployerResponsibilities, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Responsibilities" } })
                        @Html.ValidationMessageFor(model => model.MostRecentEmployerResponsibilities, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
                <fieldset class="well the-fieldset">
                    <legend class="the-legend">Next Recent</legend>
                    @Html.LabelFor(model => model.MiddleRecentEmployerName, "Employer Name:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerFromDate, "From:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerToDate, "To:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MiddleRecentEmployerName, new { htmlAttributes = new { @class = "form-control", placeholder = "Employer's Name" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerFromDate, new { htmlAttributes = new { @class = "form-control date", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerFromDate, "", new { @class = "text-danger date" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerToDate, new { htmlAttributes = new { @class = "form-control date", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerToDate, "", new { @class = "text-danger date" })
                    </div>
                    @Html.LabelFor(model => model.MiddleRecentEmployerAddress, "Address:", htmlAttributes: new { @class = "control-label col-lg-8" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerPhone, "Phone:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerSupervisor, "Supervisor:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MiddleRecentEmployerAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Street, City, State, Zip" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerPhone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerPhone, "", new { @class = "text-danger tel" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerSupervisor, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerSupervisor, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MiddleRecentEmployerPosition, "Position:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerStartSalary, "Starting Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.MiddleRecentEmployerEndSalary, "Ending Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.MiddleRecentEmployerPosition, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Position" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerPosition, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerStartSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Salary" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerStartSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.MiddleRecentEmployerEndSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "End Salary" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerEndSalary, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MiddleRecentEmployerReasonForLeaving, "Reason for leaving:", htmlAttributes: new { @class = "text-left col-lg-12" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.MiddleRecentEmployerReasonForLeaving, new { htmlAttributes = new { @class = "form-control", placeholder = "Reason for Leaving" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerReasonForLeaving, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.MiddleRecentEmployerResponsibilities, "Describe your responsibilities:", htmlAttributes: new { @class = "text-left col-lg-12" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.MiddleRecentEmployerResponsibilities, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Responsibilities" } })
                        @Html.ValidationMessageFor(model => model.MiddleRecentEmployerResponsibilities, "", new { @class = "text-danger" })
                    </div>
                </fieldset>
                <fieldset class="well the-fieldset">
                    <legend class="the-legend">Least Recent</legend>
                    @Html.LabelFor(model => model.LeastRecentEmployerName, "Employer Name:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.LeastRecentEmployerFromDate, "From:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.LeastRecentEmployerToDate, "To:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.LeastRecentEmployerName, new { htmlAttributes = new { @class = "form-control", placeholder = "Employer's name" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerFromDate, new { htmlAttributes = new { @class = "form-control date", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerFromDate, "", new { @class = "text-danger date" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerToDate, new { htmlAttributes = new { @class = "form-control date", placeholder = "(month/year)" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerToDate, "", new { @class = "text-danger date" })
                    </div>
                    @Html.LabelFor(model => model.LeastRecentEmployerAddress, "Address:", htmlAttributes: new { @class = "control-label col-lg-8" })
                    @Html.LabelFor(model => model.LeastRecentEmployerPhone, "Phone:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    @Html.LabelFor(model => model.LeastRecentEmployerSupervisor, "Supervisor:", htmlAttributes: new { @class = "control-label col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.LeastRecentEmployerAddress, new { htmlAttributes = new { @class = "form-control", placeholder = "Street, City, State, Zip" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerPhone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerPhone, "", new { @class = "text-danger tel" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerSupervisor, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerSupervisor, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.LeastRecentEmployerPosition, "Position:", htmlAttributes: new { @class = "text-left col-lg-8" })
                    @Html.LabelFor(model => model.LeastRecentEmployerStartSalary, "Starting Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    @Html.LabelFor(model => model.LeastRecentEmployerEndSalary, "Ending Salary:", htmlAttributes: new { @class = "text-left col-lg-2" })
                    <div class="col-lg-8">
                        @Html.EditorFor(model => model.LeastRecentEmployerPosition, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Position" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerPosition, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerStartSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "Start Salary" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerStartSalary, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-2">
                        @Html.EditorFor(model => model.LeastRecentEmployerEndSalary, new { htmlAttributes = new { @class = "form-control", placeholder = "End Salary" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerEndSalary, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.LeastRecentEmployerReasonForLeaving, "Reason for leaving:", htmlAttributes: new { @class = "text-left col-lg-12" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.LeastRecentEmployerReasonForLeaving, new { htmlAttributes = new { @class = "form-control", placeholder = "Reason for Leaving" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerReasonForLeaving, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.LeastRecentEmployerResponsibilities, "Describe your responsibilities:", htmlAttributes: new { @class = "text-left" })
                    <div class="col-lg-12">
                        @Html.EditorFor(model => model.LeastRecentEmployerResponsibilities, new { htmlAttributes = new { @class = "form-control", placeholder = "Your Responsibilities" } })
                        @Html.ValidationMessageFor(model => model.LeastRecentEmployerResponsibilities, "", new { @class = "text-danger col-lg-12" })
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-12 well" style="border: 1px solid blue">
            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    Education:
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.MostRecentEducationName, "Most recent: - Name and address of school:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.MostRecentEducationYearsAttended, "Years attended:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.MostRecentEducationDegreeMajor, "Degree/major:", htmlAttributes: new { @class = "text-left col-lg-2" })
                <div class="col-lg-7">
                    @Html.EditorFor(model => model.MostRecentEducationName, new { htmlAttributes = new { @class = "form-control", placeholder = "School Name, City, State" } })
                    @Html.ValidationMessageFor(model => model.MostRecentEducationName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.MostRecentEducationYearsAttended, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY - YYYY" } })
                    @Html.ValidationMessageFor(model => model.MostRecentEducationYearsAttended, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.MostRecentEducationDegreeMajor, new { htmlAttributes = new { @class = "form-control", placeholder = "Degree / Major" } })
                    @Html.ValidationMessageFor(model => model.MostRecentEducationDegreeMajor, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-1">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.MostRecentEducationGraduated) <strong>Graduated</strong>
                        </label>
                        @Html.ValidationMessageFor(model => model.MostRecentEducationGraduated, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.LabelFor(model => model.MiddleRecentEducationName, "Next recent:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.MiddleRecentEducationYearsAttended, "Years attended:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.MiddleRecentEducationDegreeMajor, "Degree/major:", htmlAttributes: new { @class = "text-left col-lg-2" })

                <div class="col-lg-7">
                    @Html.EditorFor(model => model.MiddleRecentEducationName, new { htmlAttributes = new { @class = "form-control", placeholder = "School Name, City, State" } })
                    @Html.ValidationMessageFor(model => model.MiddleRecentEducationName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.MiddleRecentEducationYearsAttended, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY - YYYY" } })
                    @Html.ValidationMessageFor(model => model.MiddleRecentEducationYearsAttended, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.MiddleRecentEducationDegreeMajor, new { htmlAttributes = new { @class = "form-control", placeholder = "Degree / Major" } })
                    @Html.ValidationMessageFor(model => model.MiddleRecentEducationDegreeMajor, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-1">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.MiddleRecentEducationGraduated) <strong>Graduated</strong>
                        </label>
                        @Html.ValidationMessageFor(model => model.MiddleRecentEducationGraduated, "", new { @class = "text-danger" })
                    </div>
                </div>


                @Html.LabelFor(model => model.LeastRecentEducationName, "Least recent:", htmlAttributes: new { @class = "text-left col-lg-7" })
                @Html.LabelFor(model => model.LeastRecentEducationYearsAttended, "Years attended:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.LeastRecentEducationDegreeMajor, "Degree/major:", htmlAttributes: new { @class = "text-left col-lg-2" })

                <div class="col-lg-7">
                    @Html.EditorFor(model => model.LeastRecentEducationName, new { htmlAttributes = new { @class = "form-control", placeholder = "School Name, City, State" } })
                    @Html.ValidationMessageFor(model => model.LeastRecentEducationName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.LeastRecentEducationYearsAttended, new { htmlAttributes = new { @class = "form-control", placeholder = "YYYY- YYYY" } })
                    @Html.ValidationMessageFor(model => model.LeastRecentEducationYearsAttended, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.LeastRecentEducationDegreeMajor, new { htmlAttributes = new { @class = "form-control", placeholder = "Degree / Major" } })
                    @Html.ValidationMessageFor(model => model.LeastRecentEducationDegreeMajor, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-1">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(model => model.LeastRecentEducationGraduated) <strong>Graduated</strong>
                        </label>
                        @Html.ValidationMessageFor(model => model.LeastRecentEducationGraduated, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 well" style="border: 1px solid blue">
            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    References:
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Reference1Name, "Reference 1 name:", htmlAttributes: new { @class = "text-left col-lg-6" })
                @Html.LabelFor(model => model.Reference1Phone, "Phone:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference1Company, "Workplace:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference1Title, "Title:", htmlAttributes: new { @class = "text-left col-lg-2" })

                <div class="col-lg-6">
                    @Html.EditorFor(model => model.Reference1Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                    @Html.ValidationMessageFor(model => model.Reference1Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference1Phone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                    @Html.ValidationMessageFor(model => model.Reference1Phone, "", new { @class = "text-danger tel" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference1Company, new { htmlAttributes = new { @class = "form-control", placeholder = "Workplace" } })
                    @Html.ValidationMessageFor(model => model.Reference1Company, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference1Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.Reference1Title, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Reference2Name, "Reference 2 name:", htmlAttributes: new { @class = "text-left col-lg-6" })
                @Html.LabelFor(model => model.Reference2Phone, "Phone:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference2Company, "Workplace:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference2Title, "Title:", htmlAttributes: new { @class = "text-left col-lg-2" })

                <div class="col-lg-6">
                    @Html.EditorFor(model => model.Reference2Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                    @Html.ValidationMessageFor(model => model.Reference1Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference2Phone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                    @Html.ValidationMessageFor(model => model.Reference1Phone, "", new { @class = "text-danger tel" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference2Company, new { htmlAttributes = new { @class = "form-control", placeholder = "Workplace" } })
                    @Html.ValidationMessageFor(model => model.Reference1Company, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference2Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.Reference1Title, "", new { @class = "text-danger" })
                </div>

                @Html.LabelFor(model => model.Reference3Name, "Reference 3 name:", htmlAttributes: new { @class = "text-left col-lg-6" })
                @Html.LabelFor(model => model.Reference3Phone, "Phone:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference3Company, "Workplace:", htmlAttributes: new { @class = "text-left col-lg-2" })
                @Html.LabelFor(model => model.Reference3Title, "Title:", htmlAttributes: new { @class = "text-left col-lg-2" })

                <div class="col-lg-6">
                    @Html.EditorFor(model => model.Reference3Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First, Last" } })
                    @Html.ValidationMessageFor(model => model.Reference3Name, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference3Phone, new { htmlAttributes = new { @class = "form-control tel", placeholder = "### - ### - ####" } })
                    @Html.ValidationMessageFor(model => model.Reference3Phone, "", new { @class = "text-danger tel" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference3Company, new { htmlAttributes = new { @class = "form-control", placeholder = "Workplace" } })
                    @Html.ValidationMessageFor(model => model.Reference3Company, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    @Html.EditorFor(model => model.Reference3Title, new { htmlAttributes = new { @class = "form-control", placeholder = "Title" } })
                    @Html.ValidationMessageFor(model => model.Reference3Title, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 well" style="border: 1px solid blue">

            <div class="row">
                <div class="col-lg-4 well text-center" style="border: 1px solid blue; color: blue; font-size:22px">
                    Pre-Employment Statement:
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <strong><label>    By pressing the \"Apply\" button below, I hereby affirm that the information given by me on this application for employment is complete and accurate.</label></strong>
                    <strong><label>    I understand that any omission of falsificaton of information will be immediate grounds for dismissal.</label></strong>
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-offset-1">
                    <button type="submit" class="btn btn-primary btn-lg"><strong>Apply</strong></button>
                </div>
            </div>
        </div>
    </div>
}

    <div>
        @Html.Label("")
        @Html.ActionLink("Back to List", "Index")
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

