@model AES.Entities.Shared.Net45.Models.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryExpectation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryExpectation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MondayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MondayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuesdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuesdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WednesdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WednesdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThursdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThursdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RecentEducationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecentEducationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleEducationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleEducationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastEducationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastEducationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
