@model AES.Entities.Shared.Net45.Models.Application

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Application</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SSN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SSN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OtherName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PositionsApplied)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionsApplied)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalaryExpectation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalaryExpectation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MondayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MondayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TuesdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TuesdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WednesdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WednesdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThursdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThursdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FridayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FridayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaturdayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaturdayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SundayAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SundayAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerSupervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerSupervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerStartSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerStartSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerEndSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerEndSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerReasonForLeaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerReasonForLeaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEmployerResponsibilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEmployerResponsibilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerSupervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerSupervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerStartSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerStartSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerEndSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerEndSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerReasonForLeaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerReasonForLeaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerResponsibilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEmployerResponsibilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerFromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerFromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerSupervisor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerSupervisor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerPosition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerStartSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerStartSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerEndSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerEndSalary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerReasonForLeaving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerReasonForLeaving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerResponsibilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEmployerResponsibilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEducationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEducationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEducationYearsAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEducationYearsAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEducationGraduated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEducationGraduated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MostRecentEducationDegreeMajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MostRecentEducationDegreeMajor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEducationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationYearsAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEducationYearsAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationGraduated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEducationGraduated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationDegreeMajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MiddleRecentEducationDegreeMajor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEducationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEducationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEducationYearsAttended)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEducationYearsAttended)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEducationGraduated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEducationGraduated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeastRecentEducationDegreeMajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeastRecentEducationDegreeMajor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference1Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference1Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference1Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference1Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference1Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference1Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference1Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference1Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference2Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference2Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference2Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference2Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference2Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference2Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference2Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference2Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference3Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference3Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference3Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference3Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference3Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference3Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reference3Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reference3Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
