@model IEnumerable<AES.Entities.Shared.Net45.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionsApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryExpectation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MondayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuesdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WednesdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThursdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FridayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SundayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecentEducationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleEducationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastEducationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionsApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryExpectation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MondayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WednesdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThursdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FridayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SundayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecentEducationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleEducationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastEducationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicationId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationId })
        </td>
    </tr>
}

</table>
