@model IEnumerable<AES.Entities.Shared.Net45.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applicant Overview</h2>
@*
<p>
    @Html.ActionLink("Create New", "Create")
</p>
    *@
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.PositionsApplied)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalaryExpectation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evenings)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weekends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MondayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TuesdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WednesdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThursdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FridayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SaturdayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SundayAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerSupervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerStartSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerEndSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerReasonForLeaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEmployerResponsibilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerSupervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerStartSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerEndSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerReasonForLeaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEmployerResponsibilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerSupervisor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerPosition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerStartSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerEndSalary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerReasonForLeaving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEmployerResponsibilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEducationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEducationYearsAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEducationGraduated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MostRecentEducationDegreeMajor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationYearsAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationGraduated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleRecentEducationDegreeMajor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEducationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEducationYearsAttended)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEducationGraduated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeastRecentEducationDegreeMajor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference1Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference1Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference1Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference1Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference2Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference3Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference3Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference3Company)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reference3Title)
        </th>
            *@
        <th>
            @Html.DisplayNameFor(model => model.HiringManagerNotes)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
            *@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        @*
        <td>
            @Html.DisplayFor(modelItem => item.PositionsApplied)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalaryExpectation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evenings)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weekends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MondayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TuesdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WednesdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThursdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FridayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaturdayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SundayAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerFromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerSupervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerStartSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerEndSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerReasonForLeaving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEmployerResponsibilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerFromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerSupervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerStartSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerEndSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerReasonForLeaving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEmployerResponsibilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerFromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerSupervisor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerPosition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerStartSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerEndSalary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerReasonForLeaving)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEmployerResponsibilities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEducationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEducationYearsAttended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEducationGraduated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MostRecentEducationDegreeMajor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEducationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEducationYearsAttended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEducationGraduated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleRecentEducationDegreeMajor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEducationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEducationYearsAttended)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEducationGraduated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeastRecentEducationDegreeMajor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference1Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference1Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference1Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference1Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference2Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference2Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference2Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference2Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference3Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference3Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference3Company)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reference3Title)
        </td>
            *@
        <td>
            @Html.DisplayFor(modelItem => item.HiringManagerNotes)
        </td>

        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ApplicationId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApplicationId })
        </td>
    </tr>
}

</table>
