@model AES.Entities.Shared.Net45.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PositionId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId01)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId01)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId02)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId02)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId03)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId03)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId04)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId04)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId05)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId05)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId06)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId06)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId07)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId07)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId08)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId08)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId09)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId09)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId16)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId16)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId17)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId17)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId18)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId18)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId19)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId19)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId20)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId20)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId21)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId21)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId22)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId22)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId23)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId23)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId24)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId24)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QaId25)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QaId25)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassingScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassingScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalScore)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
