@model IEnumerable<AES.Entities.Shared.Net45.Models.Test>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionList)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passingScore)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionList)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passingScore)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TestId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TestId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TestId })
        </td>
    </tr>
}

</table>
