@model aesJuniorProjectT.Entities.Shared.Net45.Models.Position

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Position</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.positions_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positions_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.positions_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.positions_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.store_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.store_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.test_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.test_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.positions_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
