@using System.Web.UI.WebControls
@model AES.Entities.Shared.Net45.Models.Position

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Position</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PositionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PositionName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PositionName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PositionDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PositionDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PositionDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.StoreId, "StoreId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{var listItems = new List<ListItem>
                   {
                        new ListItem {Text = "Super Awesome Store", Value = "1"},
                       new ListItem {Text = "Ehh Store", Value = "2"},
                       new ListItem {Text = "Best Buy", Value = "3"}
                   };
                }
                @Html.DropDownList("StoreId", new SelectList(listItems, "Value", "Text"), htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.StoreId, "", new {@class = "text-danger"})

            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.TestId, "TestId", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @{ var listItemsAlso = new List<ListItem>
                   {
                       new ListItem {Text = "Super Awesome Test", Value = "10"},
                       new ListItem {Text = "Ehh Test", Value = "11"},
                       new ListItem {Text = "OIT Test", Value = "12"}
                   };
                }
                @Html.DropDownList("TestId", new SelectList(listItemsAlso, "Value", "Text"), htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.TestId, "", new {@class = "text-danger"})
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
