@model IEnumerable<AES.Entities.Shared.Net45.Models.Position>

@{
    ViewBag.Title = "Index";
}

<h2>Position</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PositionName)            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Store.StoreLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PositionDesc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PositionName)           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreName)           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.StoreLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PositionDesc)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.PositionId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.PositionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PositionId })
        </td>
    </tr>
}

</table>
