@model AES.Entities.Shared.Net45.Models.QuestionAnswer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>QuestionAnswer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Possible_Answer_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Possible_Answer_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_1_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_1_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Possible_Answer_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Possible_Answer_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_2_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_2_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Possible_Answer_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Possible_Answer_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_3_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_3_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Possible_Answer_4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Possible_Answer_4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_4_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_4_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Possible_Answer_5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Possible_Answer_5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_5_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_5_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Answer_Num_Selected)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Answer_Num_Selected)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MC_Correct_Answer_Num)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MC_Correct_Answer_Num)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TF_Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TF_Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WI_Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WI_Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionAnswerId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
