@model IEnumerable<AES.Entities.Shared.Net45.Models.QuestionAnswer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuestionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MC_AnswerText1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MC_AnswerText2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MC_AnswerText3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MC_AnswerText4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MC_AnswerText5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WI_Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrueFalse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MC_AnswerText1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MC_AnswerText2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MC_AnswerText3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MC_AnswerText4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MC_AnswerText5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WI_Answer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrueFalse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorrectAnswer)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionAnswerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionAnswerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionAnswerId })
        </td>
    </tr>
}

</table>
